#Ignore env containing secrets
.env
.venv
.envrc

#Ignore Virtual Env
env/
venv/
.venv/

# Other Environments
ENV/
env.bak/
venv.bak/

#Ignore generated outputs
*.lock
dist/
gpt_researcher.egg-info/

#Ignore my local docs
my-docs/
backend/prompts_CHN.md
backend/prompts-chapter.py
PLAN.md
backend/memory/
backend/cache/
input/
test/
PRD.md

#Ignore pycache
**/__pycache__/

#Ignore mypy cache
.mypy_cache/
node_modules
.idea
.DS_Store
.docusaurus
build

.vscode/launch.json
.langgraph-data/
.next/
package-lock.json

#Vim swp files
*.swp

# Log files
logs/
*.orig
*.log
server_log.txt

#Cursor Rules
.cursorrules
CURSOR_RULES.md
/.history

# data
**/cache/
**/memory/
**/output/
**/input/
**/*.sqlite-shm
**/*.sqlite-wal
**/*.sqlite

# session cache, wherever it is
**/session_cache.json
backend/knowledge/
frontend/uploads/20250703_103416_稳定币的经济学分析.pdf
frontend/uploads/20250703_103416_稳定币的经济学分析/20250703_103416_稳定币的经济学分析.md
frontend/uploads/20250703_103416_稳定币的经济学分析/20250703_103416_稳定币的经济学分析_meta.json
frontend/uploads/20250703_103531_xm.md
frontend/uploads/20250703_103639_xm.md
frontend/uploads/20250703_103856_2025h2.md
